article.tweet {
  border: 0.5px solid lightgray;
  border-radius: 8px;
  margin-top: 30px;
}

.tweet:hover {
  box-shadow: 10px 10px 5px grey;
}

article.tweet header.user {
  background-color: #DBF3FA;
  display: flex;
  padding: 10px 10px 10px 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 0.5px solid lightgray;
  justify-content: space-around;
}

article.tweet header p.handle {
  margin-top: 0px;
}

.avatars {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 8px;
}

article.tweet header h2.name{
  margin-top: 0;
  float: left;
}

p.content {
  margin-left: 10px;
  min-height: 60px;
  padding: 20px;
}

.tweet footer.tweet-footer {
  border-top: 0.5px solid lightgray;
  font-size: 10px;
}

.tweet footer .created_at {
  margin-left: 10px;
}

a.material-icons {
  display: none;
  float: right;
  font-size:20px;
  color: gray;
}

.tweet:hover a.material-icons {
  display: inline-block;
}
