/*Main tweets container styling*/

article.tweet {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  margin-top: 2em;
}

article.tweet:hover {
  box-shadow: 0.5em 0.5em 0.5em #ccc;
  transition: box-shadow 1s;
}

header.user {
  background-color: #F4E7B1;
  padding: 0.5em;
  height: 15vh;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 0.5px solid lightgray;
}

p.handle {
  margin-top: 0em;
  float: right;
  margin-left: 0.2em;
  font-size: 1.2em;
}

img.avatars {
  float: left;
  height: 4em;
  width: 4em;
  border-radius: 5px;
}

h2.name{
  margin-top: 0;
  margin-left: 0.5em;
  float: left;
  font-size: 2em;
}

p.content {
  margin-left: 1em;
  min-height: 4em;
  padding: 1em;
  font-size: 1.2em;
  word-wrap: break-word;
}

footer.tweet-footer {
  border-top: 0.5px solid lightgray;
  font-size: 0.8em;
}

footer .created_at {
  margin-left: 1em;
}

a.material-icons {
  display: none;
  float: right;
  font-size: 2em;
  color: gray;
}

.tweet:hover a.material-icons {
  display: inline-block;
}
