/*Main tweets container styling*/

article.tweet {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  margin-top: 30px;
}

article.tweet:hover {
  box-shadow: 10px 10px 5px grey;
}

header.user {
  background-color: #F4E7B1;
  padding: 10px;
  height: 80px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 0.5px solid lightgray;
}

p.handle {
  margin-top: 0px;
  float: right;
  margin-left: 10px;
  font-size: 18px;
}

img.avatars {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

h2.name{
  margin-top: 0;
  margin-left: 10px;
  float: left;
  font-size: 28px;
}

p.content {
  margin-left: 10px;
  min-height: 60px;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
}

footer.tweet-footer {
  border-top: 0.5px solid lightgray;
  font-size: 12px;
}

footer .created_at {
  margin-left: 10px;
}

a.material-icons {
  display: none;
  float: right;
  font-size:20px;
  color: gray;
}

.tweet:hover a.material-icons {
  display: inline-block;
}
