/*Global layout styling*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: url("/images/beet6.png");
  background-size: 8%;
  font-family: 'Josefin Slab', serif;
  color: #865F2C;
  display: flex;
}

main.container {
  width: 450px;
  background-color: white;
  margin: 80px auto;
  padding: 2em 2em 0px 2em;
  border: 1px solid lightgray;
}
