/*Global layout styling*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-image: url("/images/diagonal.gif");
  font-family: 'Josefin Slab', serif;
  display: flex;
}

main.container {
  width: 450px;
  background-color: white;
  margin: 80px auto;
  padding: 2em 2em 0px 2em;
  border: 1px solid lightgray;
}
