/*Global layout styling*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: url("/images/beet6.png");
  background-size: 8%;
  font-family: 'Josefin Slab', serif;
  color: #865F2C;
  display: flex;
}

main.container {
  width: 45%;
  background-color: white;
  margin: 5em auto;
  padding: 2em 2em 0px 2em;
  border: 1px solid lightgray;
}

@media (max-width: 600px) {
    nav#nav-bar .header {
      font-size: 2em;
    }
    nav#nav-bar {
      height: 3em;
    }
    nav#nav-bar .logo {
      height: 2em;
      width: 2em;
    }
    nav#nav-bar .button {
      height: 1.8em;
      width: 1.8em;
      margin-top: 0px;
    }
    main.container {
      width: 90%;
    }
}
