#nav-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #FECF4E;
  padding: 0px 2em;
  margin: 0px;
}

#nav-bar .header {
  color: white;
  float: left;
  margin-left: 10px;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}