#nav-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #FECF4E;
  padding: 0px 2em;
  margin: 0px;
}

#nav-bar .header {
  color: white;
  float: left;
  margin-left: 10px;
  line-height: 80px;
  font-size: 4em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .button {
  float: right;
  margin-top: 18px;
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 20px;
  border: 0.5px solid lightgray;
}

#nav-bar .button:hover {
  box-shadow: 10px 10px 5px grey;
}