/*Compose new tweet container styling*/

main.container .new-tweet h2 {
  border-bottom: 1px solid gray;
}

main.container .new-tweet {
  background-color: #DBF3FA;
  margin: auto;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  margin-bottom: 20px;
}

main.container .counter {
  float: right;
  font-style: italic;
}

main.container textarea {
  width: 100%;
  padding: 5px;
}

main.container form {
  margin-bottom: 10px;
}

.red {
  color: red;
}

div.error-null {
  color: #D8000C;
  background-color: #FFD2D2;
  display: inline-block;
  float: right;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

div.error-exceed {
  color: #D8000C;
  background-color: #FFD2D2;
  display: inline-block;
  float: right;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}