/*Compose new tweet container styling*/

main.container .new-tweet h2 {
  border-bottom: 1px solid gray;
}

main.container .new-tweet {
  background-color: #F4E7B1;
  margin: auto;
  padding: 0em 1em 0em 1em;
  border-radius: 5px;
  border: 0.5px solid lightgray;
}

main.container .counter {
  float: right;
  font-style: italic;
}

main.container textarea {
  width: 100%;
  padding: 0.5em;
}

main.container form {
  margin-bottom: 0.2em;
}

.red {
  color: red;
}

div.error-null {
  color: #D8000C;
  background-color: #FFD2D2;
  display: inline-block;
  float: right;
  margin-right: 1em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
}

div.error-exceed {
  color: #D8000C;
  background-color: #FFD2D2;
  display: inline-block;
  float: right;
  margin-right: 1em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.8em;
}