main.container .new-tweet h2 {
  border-bottom: 1px solid gray;
}


main.container .new-tweet {
  flex-direction: column;  /* make main axis vertical *//* center items vertically, in this case */
  background-color: #DBF3FA;
  margin: auto;
  width: 100%;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  border: 0.5px solid lightgray;
}

main.container .new-tweet .counter {
  float: right;
  font-style: italic;
}

main.container .new-tweet textarea {
  width: 100%;
  padding: 5px;
}

main.container .new-tweet form {
  margin-bottom: 10px;
}